In [4]:
from datetime import datetime
import geopandas as gp
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv ('../Resources/new-gdp.csv')
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.730000e+11,9.840000e+11,1.000000e+12,9.240000e+11,8.820000e+11,1.020000e+12,9.910000e+11,9.980000e+11,9.220000e+11,1.080000e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,7.280000e+11,8.210000e+11,8.650000e+11,7.610000e+11,6.910000e+11,6.840000e+11,7.420000e+11,7.950000e+11,7.840000e+11,8.360000e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.250000e+11,1.330000e+11,1.370000e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10

In [10]:
new_data = df.T

In [24]:
new_data

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Country Code,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
Indicator Name,GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),...,GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$)
Indicator Code,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,...,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD
1960,NaN,21290586003.0,537777811.1,10404135069.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1390000000000.0,NaN,NaN,NaN,8748596504.0,713000000.0,1052990400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,3092178771.0,1020000000000.0,18753469630.0,684000000000.0,68972763787.0,13019689337.0,3000162081.0,2580000000000.0,386000000000.0,644000000000.0,...,3794000000.0,281000000000.0,880062103.0,81400000000000.0,832025556.1,7180813376.0,26842231205.0,381000000000.0,25873601261.0,17584890937.0
2018,3202234637.0,991000000000.0,18053228579.0,742000000000.0,77792940077.0,15156432310.0,3218419897.0,2790000000000.0,422000000000.0,525000000000.0,...,3922000000.0,309000000000.0,914736985.4,86400000000000.0,821286938.9,7878508503.0,21606161066.0,405000000000.0,26311590297.0,18115543791.0
2019,3310055866.0,998000000000.0,18799450743.0,795000000000.0,69309104807.0,15401830754.0,3155149348.0,2810000000000.0,417000000000.0,453000000000.0,...,4117000000.0,330000000000.0,936526267.6,87700000000000.0,852007104.7,7899879086.0,21887614217.0,388000000000.0,23308667781.0,19284289739.0
2020,2496648045.0,922000000000.0,20116137326.0,784000000000.0,53619071176.0,15131866271.0,2891001149.0,2500000000000.0,359000000000.0,390000000000.0,...,4204000000.0,343000000000.0,896827873.1,84900000000000.0,807147527.6,7716925356.0,18840511908.0,335000000000.0,18110631358.0,18051170799.0
2021,NaN,1080000000000.0,NaN,836000000000.0,72546985709.0,18260043500.0,3329910724.0,2850000000000.0,NaN,491000000000.0,...,NaN,363000000000.0,983469256.8,96100000000000.0,788389971.6,9007159196.0,21061691630.0,420000000000.0,21203059080.0,26217726717.0

In [25]:
output_file_path = "./new_data.csv"
new_data.to_csv(output_file_path, index=False)

In [12]:
data = new_data.T["Country Name", "Country Code", "Indicator Name", "Indicator Code"]

KeyError: ('Country Name', 'Country Code', 'Indicator Name', 'Indicator Code')